body {
    font-family: 'Ubuntu', sans-serif;
}

#itunes {
    margin-top: 30px;
    margin-left: 600px;
}

#download {
    margin-left: 20px;
    margin-bottom:
}

.brand-logo {
    margin-left: 150px;
}

.right {
    margin-right: 150px;
}

#logo_img {
    height: 50px;
}
