body {
    font-family: 'Ubuntu', sans-serif;
}

nav {
    z-index: 1000;
}

#sec_1 {
    text-align: center;
}

#itunes {
    margin-top: 30px;
}

#download {
    margin-left: 20px;
    margin-bottom: 537px;
}

.brand-logo {
    margin-left: 150px;
}

.right {
    margin-right: 150px;
}

#logo_img {
    height: 50px;
    margin-left: 450px;
    margin-top: 7px;
}

.slider {
    margin-top: 64px;
}

.parallax-container {
    height: 400px;
}

#sec_2 {
    text-align: center;
    margin-top: 30px;
    display: inline-block;
}

#joe {
    height: 300px;
}

#para {
    text-align: center;
}
